.companies {

    h2 {
        font-size: 1em;
        color: #E1E1E1;
    }

    .logos {
        align-items: center;
        justify-content: space-between;
    }

    img {
        display: inline-block;
        height: auto;
        max-width: 5em;
        max-height: 4em;
        filter: grayscale(100%);


    }
}