.doorway {
    &__door {
        background-color: $primary-color;
        border-radius: 15px;
        padding: 1.5em;
        position: relative;

        h2 {
            font-size: 1em;
        }
    }

    &__sticker {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0;
        top: 0;
        transform: translate(30%, -30%);
        color: $bg-color;
        font-weight: bold;
        height: 4em;
        width: 4em;
        background-image: url("~/src/assets/images/sticker.svg");
    }
}
