.footer {
    background-color: $bg-color-dark;
    color: $bg-color;

    ul {
        list-style: none;
        padding-left: 0;

        

        li {
            margin-bottom: 0.2em;

            a {
                text-decoration: none;
            }
        }
    }

    h2 {
        font-size: 1em;
        text-transform: uppercase;
    }

    a {
        color: $bg-color;

        &:hover {
            color: $link-hover-color;
        }
    }

    .logo {
        max-width: 200px;
    }

    &__subtitle {
        font-size: 0.75em;
    }
}
